* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #05010a;
  color: #fff;
}

/* Container */
.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  height: 100%;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
}

.logo {
  font-size: 28px;
  font-weight: bold;
  color: #330850ff;
}
.logo img {
  position: relative !important;
  width: 100% !important;
  height: auto;
  object-fit: cover;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links li {
  cursor: pointer;
  opacity: 0.8;
}

.nav-links li:hover {
  opacity: 1;
}

/* Buttons */
.btn {
  padding: 10px 22px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  background: linear-gradient(90deg, #00005f 0%, #780096 100%);
  color: white;
}

.btn.big {
  padding: 14px 30px;
  font-size: 16px;
}

.btn.neon {
  box-shadow: 0 0 15px rgba(120, 80, 255, 0.8);
}

/* Hero */
.hero {
  display: flex;
  align-items: center;
  padding: 0 60px;
  gap: 80px;
  height: 80vh;
}

.hero-right h1 {
  font-size: 72px;
  background: linear-gradient(90deg, #ffffff 0%, #780096 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  margin: 0;
}

.hero-right h1 span {
  color: #9b5cff;
}
.hero-right h1 span:last-child {
  font-size: 50px;
}

.hero-right p {
  margin: 0 0 20px 0;
  opacity: 0.8;
}

/* Videos */
.videos {
  padding: 0 3rem 3rem 3rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  justify-content: center;
  margin-top: 40px;
  width: 90%;
}

.card {
  /* height: 250px; */
  border-radius: 20px;
  background: linear-gradient(90deg, #00005f 0%, #780096 100%);

  font-weight: bold;
  box-shadow: 0 0 25px #570e71;
  position: relative;
}

.card img{
  width: 100%;
  object-fit: cover;
  /* height: 100%; */
  border-radius: 20px 20px 0px 0px;
  /* margin-bottom: 1rem; */
}
.card p{
  /* position: absolute; */
  bottom: 8%;
  font-size: 14px;
  left: 0;
  color: white;
  padding: 1rem;
}
.card span{
  position: absolute;
  top: 0;
  right: 0;
  background-color: #780096;
  color: white;
  border-radius: 20px;
  padding: 5px 10px;
  font-size: 14px;
}

/* About */
.about {
  padding: 6rem 3rem 3rem 3rem;
  /* max-width: 800px; */
  /* margin: auto; */
  /* text-align: center; */
  display: flex;
  /* align-items: center; */
  justify-content: center;
  gap: 2rem;
}

.about-left{
  width: 40%;
}
.about-left img{
  width: 100%;
  object-fit: cover;
  position: relative !important;
  border-radius: 20px;
}
.about-right{
  width: 60%;
}

.about span {
  font-size: 14px;
  text-transform: uppercase;
  color: #780096;
  font-weight: 500;
}
.about h2 {
  font-size: 36px;

}
.about p {
  margin-top: 20px;
  opacity: 0.8;
}

/* Footer */
.footer {
  text-align: center;
  padding: 30px;
  opacity: 0.6;
}

.laser-flow-container {
  width: 100%;
  height: 100%;
  position: relative;
  pointer-events: none;
}

.hero-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* height: 100vh; */
  z-index: -1;
}

.box-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  width: 85%;
  height: 35%;
  background-color: #060010;
  border-radius: 20px;
  border: 2px solid #570e71;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 2rem;
  z-index: 6;
}
.box {
  height: 180vh;
  position: relative;
  overflow: hidden;
  background-color: #060010;
}

.attractive h1{
  font-size: 18rem;
  text-align: center;
  background-image: url(../Assets/textbg.jpeg);
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  margin: 0;
  letter-spacing: 15px;
  text-transform: uppercase;
}

.video-frame {
  position: relative;
  width: 100%;
  height: 100vh; /* or 400px */
  overflow: hidden;
  background: black;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* fills section */
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1250px;
  }
}

@media only screen and (max-width: 680px) {
  .hero {
    align-items: center;
    gap: 80px;
    height: 50vh;
    padding: 0 60px;
    display: flex;
  }

  .hero-right h1 {
    font-size: 40px;
  }
  .cards {
    grid-template-columns: repeat(1, 1fr);
  }
  .box-content {
    height: 92%;
  }
  .box {
    height: 130vh;
    overflow: visible;
  }
  .videos {
  padding: 4rem 3rem;
  }

  .about {
    flex-direction: column;
    background-color: black;
  }

  .about-left, .about-right {
    width: 100%;
  }

  .attractive {
    position: relative;
    height: 150px;
    overflow: hidden;
  }
  .attractive h1 {
    font-size: 5rem;
    position: absolute;
    top: 0;
    left: 0;
    letter-spacing: 17px;
  }
  .video-frame {
  height: 40vh;
}
}
